# PySONIC and MorphoSONIC
#-e git+https://github.com/tjjlemaire/PySONIC.git@6ee5e571edba358dbfa8436c066846fc5d787632#egg=pysonic
#-e git+https://github.com/tjjlemaire/MorphoSONIC.git@19c86216da7939065bc6e719c03d41024a21c3ca#egg=morphosonic
-e git+https://github.com/tjjlemaire/MorphoSONIC.git#egg=morphosonic
-e git+https://github.com/tjjlemaire/PySONIC.git#egg=pysonic

# math-base
numpy

# jupyter-extensions
ipyevents
#ipympl
ipywidgets
jupyterlab
jupyterlab_latex
jupyterlab_widgets
jupyterlab-git
jupyterlab-lsp
python-lsp-server[all]
voila
watchdog[watchmedo]

# Required by MorphoSONIC
seaborn